.main {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100%;
}

.main-content {
  border-bottom: 1px dashed white;
  border-top: 1px dashed white;
  color: white;
  margin: 24px 0;
  padding: 24px 0;
  text-align: center;
}

.main-content__title {
  font-size: 70px;
  font-weight: 400;
}

.main-content__text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.header__image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

@media (max-width: 600px) {
  .main-content__title {
    font-size: 45px;
  }

  .main-content__text {
    font-size: 16px;
  }
}